.HOBI-dashboard
{
    width:auto;
    margin-left: -2%;
    padding:0 .8rem;
    
}


header
{
background-color: #fff;
border-bottom: 1px solid #e1e1e1;
}

.container
{
    padding: 2.5rem;
    
}

.heading
{
    font-size:2.4rem;
    margin: 0;
    line-height: normal;
    color: #282828;
}

.top
{
    display: flex;
    align-items: center;
    padding: .8rem 0 1.8rem;
}

img
{
    width:10%;
}

.version
{
    color:#000080;
    font-size: 14px;
    margin-right: 2.8rem;
    font-weight: 600;
    margin-left: auto;
}

.admin-content
{
    display:flex;
    justify-content: space-between;
    margin: 1rem;
    margin-top:3rem;
    
}

.left-content
{
    width:70%;
    display:flex;
    justify-content: space-between;
    
}
.right-content
{
    width:20%;
    background-color:rgb(232, 232, 238);
    height:5rem;
}

.content-card
{
    width:40%;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    padding:.8rem;
    padding-left: 2rem;
}
.fa-adn,
.fa-cogs,
.fa-heart,
.fa-github,
.fa-facebook-square
{
    color:#000080;
}
.content-card-heading
{
    display: flex;
}

.content-card-right
{
    background-color: #fff;
    border: 1px solid #e1e1e1;
    padding:.8rem;
    padding-left: 2rem;
    width:auto;
}

.admin-page-content
{
    font-size:.9rem;
    color:rgb(104, 103, 103);
    
}
a
{
    cursor: pointer;
    text-decoration: none;
}

a:hover
{
    color: black;
}
.customization
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: bold;
    padding:2rem;
    margin: 0 auto;
    margin-left:-8%;
}

.customization li
{
    padding:1rem;
}

@media screen and (max-width:1080px)
{
    img
        {
            width:20%;
        }
    .admin-content
        {
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 1rem;
            margin-top:2rem;
            
        }
        .left-content
        {
            width:80%;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            margin:0 auto;
    
        }
        .right-content
        {
            width:75%;
            background-color:rgb(232, 232, 238);
            height:50px;
            margin: 10% auto;
        }
        .content-card
        {
            width:80%;
            background-color: #fff;
            border: 1px solid #e1e1e1;
            padding:1rem;
            padding-left: 2rem;
            padding-right: 2rem;
            margin: 5% auto;
        }
        .top
        {
            display: flex;
            width:70%;
            flex-direction: column;
            align-items: center;
            padding: 1rem 0 2rem;
            margin: 0 auto;
        }
        .version
        {
            color:#c6c6d3;
            font-size: 14px;
            font-weight: 600;
            margin: 0 auto;
        }

}